html
head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  .container.text-center
    form(action='/login', method='post')
      div
        label Username:
        |     
        input(type='text', name='username')
        br
      |     
      div
        label Password:
        |     
        input(type='password', name='password')
      |     
      div
        input(type='submit', value='Submit')
