doctype html(lang='en')
html(lang="en", ng-app='freebib')
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    title Freebib Uploader
body.ng-view(autoscroll="true")
    div.container.text-center(ng-controller="upload")
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Freebib
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/dashboard') Dashboard
                    li.nav-item.active
                        a.nav-link(href='/upload') Upload
                        span.sr-only(current)
                    li.nav-item
                        a.nav-link(href='/logout') Logout
            span.navbar-text #{user}
        br
        div.row
            div.card.col-sm-3
            div.card.col-sm-6
                form(name='uploadForm', enctype='multipart/form-data', novalidate='')
                    div.form-group
                        label.control-label(for='holder_count') Upload CSV File
                        input(ngf-select='ngf-select', ng-model='csv_file', name='csv_file', type='file')
                        button.btn.btn-primary(type='button', ng-click='submitFile(csv_file)') Submit
                a(href="/data/freebib.csv") Download Sample CSV
            div.card.col-sm-3

        div.fixed-bottom
            p Powered by 
                a(href="#{version.source}") Freebib
                |  #{version.version}

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js")
    script(src="/javascripts/ng-file-upload-all.min.js")
    script(src="/javascripts/upload.js")
